<div class="bx-wizard bx-nodes-step">
  <div class="bx-nodes-sidebar">
    <button type="button" class="bx-btn bx-btn--primary" data-role="add-node">+ Add node</button>
    <div class="bx-node-limit">Max 30 nodes</div>
    <div class="bx-node-list" data-role="node-list"></div>
  </div>

  <div class="bx-nodes-main">
    <div class="bx-import-export-bar">
      <div class="bx-import-export-bar__actions">
        <button type="button" class="bx-btn bx-btn--outlined" data-role="import-nodes">
          <span class="fa fa-upload"></span> Import Nodes as JSON
        </button>
        <button type="button" class="bx-btn bx-btn--outlined" data-role="export-nodes" disabled>
          <span class="fa fa-download"></span> Export Nodes
        </button>
      </div>
      <a href="#" class="bx-import-export-bar__template-link" data-role="download-template">
        <span class="fa fa-download"></span> Download JSON template
      </a>
    </div>
    <div class="bx-node-editor" data-role="node-editor"></div>
  </div>
</div>

