<div class="settings">
  <label class="display-name-row">
    Display Name:
    <input type="text" name="display_name" value="{{display_name}}" />
  </label>
  <label>
    <input type="checkbox" name="enable_undo" {{#if enable_undo}}checked{{/if}}/>
    Allow undo
  </label>
  <label>
    <input type="checkbox" name="enable_scoring" {{#if enable_scoring}}checked{{/if}}/>
    Enable scoring
  </label>
  <label>
    <input type="checkbox" name="enable_hints" {{#if enable_hints}}checked{{/if}}/>
    Allow learners to reveal hints
  </label>
  <label>
    Max Score:
    <input type="number" name="max_score" value="{{max_score}}"/>
  </label>
  {{#if authoring_help_html}}
    <details class="bx-authoring-help">
      <summary>Content authoring guidelines</summary>
      <div class="editor-note bx-authoring-help-body">{{{authoring_help_html}}}</div>
    </details>
  {{/if}}
</div>
