/* CSS for BranchingXBlock */

.branching_xblock_block .count {
    font-weight: bold;
}

.branching_xblock_block p {
    cursor: pointer;
}

.branching-scenario .node-content {
    padding: 1em 1em;
}

.branching-scenario .node-media {
    padding: 0em 1em;
}

.branching-scenario .node-hint {
    padding: 1.5em 1em;
}

.choices {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
}

.choices .choice-button {
    background-color: #1d5280 !important;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
    background-image: none !important;
}

.undo-button {
    margin: 1em 1em;
}

.score-display {
    padding: 1em 1em;
    font-size: small;
}
